{% extends "base.html" %}
{% block title %}This is an example page{% endblock %}



{% block maincontent %}
    <div class="row">
        <div class="col-md-4">
  <h1>Send Message</h1>
    <form method="POST" action="/submit">
    {{ form.hidden_tag() }}
    {{ form.msg.label }} {{ form.msg(size=20) }}
    <input type="submit" value="Go">
</form>
        </div>
    <ul class="list-group col-md-4" >
    <li class="list-group-item activ">Subscribers</li>
    {%- for item in subscriptions.ListSubscriptionsByTopicResponse.ListSubscriptionsByTopicResult.Subscriptions recursive -%}
    <li class="list-group-item">{% if item.SubscriptionArn ==  'PendingConfirmation' %}<span class="badge">{{ item.SubscriptionArn }}</span>{%- endif -%}{{ item.Endpoint }}</li>
    {%- endfor -%}
    </ul>
    </div>
{% endblock %}