{% extends "base.html" %}
{% block title %}BluTrac{% endblock %}


{% block maincontent %}
<h1>Blue Force Tracker</h1>

<button onclick="GetData()" type="button" class="btn btn-danger">Action</button>

     <div class="location"></div>


    <div id="map-canvas"></div>


{% endblock %}

{% block scripts %}
  {{super()}}

    <script type="application/javascript">
    var map;

    function GetData() {
        $( ".location").empty();
        $.ajax({
            type: "GET",
            url: "/api/locations",
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function (data, status, jqXHR) {

                console.log(data);
                for (user in data ){

                    $( ".location" ).append( "<p>" + data[user][0]['user']['S'] + " Location:" + data[user][0]['lat']['N']  + "  X  " + data[user][0]['log']['N'] + "</p>" );
                        // To add the marker to the map, use the 'map' property
                    var myLatlng = new google.maps.LatLng(data[user][0]['lat']['N'],data[user][0]['log']['N']);

                    var markername = data[user][0]['user']['S'] + "marker";


                    console.log(myLatlng);
                    var eval(markername) = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: data[user][0]['user']['S']
                    });
                    marker.setMap(map);

                }

            },

            error: function (jqXHR, status) {
                // error handler
                console.log(jqXHR);
                alert('fail' + status.code);
            }
        });
    }


function initialize() {
  var mapOptions = {
    zoom: 8,
    center: new google.maps.LatLng(33.0593366, -83.9626457)
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
}


function loadScript() {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCaj3O8v3HR2ZmDxQClYaiQ0JnhWg8gPKQ&v=3.exp&' +
      'callback=initialize';
  document.body.appendChild(script);
}

window.onload = loadScript;



    </script>


{% endblock %}