{% extends "base.html" %}
{% block title %}This is the sucess page{% endblock %}


{% block maincontent %}
  <h1>Hello {{ user.name }}</h1>

    <img src="{{ user['picture'] }}" />

    <p>Cell: </p>

    <p>Groups: {{ user['groups'] }}</p>

    This is were you will review info about you and update, fix, add.

       <form method="POST" action="/profile/submit">
    {{ contactform.hidden_tag() }}
    {{ contactform.phone.label }} {{ contactform.phone(size=20) }}
    <input type="submit" value="Update">
</form>

{% endblock %}